@charset "utf-8";

/* 基本レイアウト ここから↓ */
/*@import url(reset.css);*/
/*@import url(common.css);*/
html {
    font-size: 16px;
}

body {
    /*background-image: url(../images/bg.jpg);*/
    background-repeat: repeat-x;
    background-position: center top;
    color: #666;
    list-style-type: none;
    font-size: 1em;
    font-family: "游ゴシック", "Yu Gothic";
}

/*header,
nav,
#path,
#contents,
footer*/
.container {
    width: 1000px;
    margin: 0 auto;
}



header h1 {
    margin: 0 0 26px 0;
    padding-top: 18px;
    text-align: center;
}

.title-border {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 50px 0 35px 0;
    margin: 0 auto;
    font-size: 2em;
    //     text-align: center;
}

.title-border:before,
.title-border:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
}

.title-border:before {
    margin-right: 1rem;
}

.title-border:after {
    margin-left: 1rem;
}

// h2 {
//     margin:  50px 0 35px 0;
//     font-size: 2em;
//     text-align: center;
// }

section {
    padding-bottom: 50px;
}

/*header*/


.headline {
    width: 100%;
    background-color: #009da0;
    color: #fff;
    height: 20px;
}

#top {
    width: 1100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#concept {
    background: #e0e0e0;

}

#outline {
    background: #e0e0e0;
}

nav ul {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding-left: 0;
    overflow: hidden;
}

nav ul li {
    width: 215px;
    float: left;
    font-size: 1.5em;
}

nav ul li a {
    display: block;
    height: 0;
    padding-top: 60px;
    color: #666;
    /*overflow: hidden;*/
}


/*Mamasan & Companyの特徴*/

.tab {
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    border: 1px solid #ff9000;



    &_class {
        width: calc(100%/4);
        height: 50px;
        /*background-color: darkgrey;*/
        line-height: 50px;
        font-size: 1.2em;
        color: #fff;
        font-weight: bold;
        text-align: center;
        display: block;
        float: left;
        order: -1;
        border: 1px solid #ff9000;
    }

    &_content {
        display: none;
        width: 100%;
        border: 1px;


        &__list {
            display: inline-flex;
            justify-content: space-between;
            list-style-type: none;
            width: 100%;
            padding: 30px;
        }
    }

    &_col1 {
        background-color: orange;
    }

    &_col2 {
        background-color: green;
    }

    &_col3 {
        background-color: blue;
    }

    &_col4 {
        background-color: pink;
    }
}

input[name="tab_name"] {
    display: none;
}

input:checked+.tab_class {
    background-color: #fff;
    color: aliceblue;
}

input:checked+.tab_class+.tab_content {
    display: block;
}



/*コンセプト*/
.concept_lists {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.concept_list {
    list-style-type: none;
    padding-bottom: 10px;
}

/*画像セクション*/
.back {
    width: 100%;
}

/*先輩の声*/
.voice_content {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.voice_lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    list-style-type: none;

    &:first-child {
        margin-right: 10px;
    }

    &:last-child {
        padding-top: 50px;
    }

}

.voice_list {
    width: 50%;
    flex: 1 1 2;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex: 1;*/


    &__img {
        display: inline-block;
        width: 100%;
        padding: 0 10px 15px 0;
    }

    &:last-child {
        width: 100%;
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*flex: 1;*/
    }

    &__text {
        padding: 15px 20px;
        background-color: #ddecf2;
        border-radius: 10px;
    }
}


/*会社概要*/
.outline_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}


table {
    border: none;
    margin-right: 50px;
}

td {
    padding: 10px;
    border-right: solid 1px #333;
    border-bottom: solid 1px #333;
}

td:last-child {
    border-right: none;
}

.none {
    border-bottom: none;
}


/*お問い合わせ*/

.contact {
    // display: flex;
    // justify-content: space-between;
    // width: 100%;
    margin-bottom: 55px;

    &_lists {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        // flex-wrap: wrap;
        padding-left: 60px;
        width: 100%;
        height: 100%;
        list-style-type: none;




        &:nth-child(even) {
            background-color: #eee;
        }
    }

    &_list {
        display: flex;
        align-items: center;
        // padding: 25px 0 20px 30px;
        flex: 1 1 8;
        height: 60px;
        // padding: 10px 0;
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*flex: 1;*/


        &__lead {
            flex-basis: 20%;
            // padding-left: 30px;
            // padding: 25px 0 25px 30px;
        }

        &__tag {
            flex-basis: 10%;

            &--text {
                display: inline-block;
                font-size: 12px;
                background-color: red;
                color: #fff;
                padding: 5px 10px;
            }
        }


        &__form {
            flex-basis: 72%;
            width: 100%;
            // height: 40px;

            &--text {
                background-color: #fff;
                border: 1px solid #999;
                font-size: 1.4rem;
            }

            &--chkbox {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                flex-wrap: wrap;
                // width:calc(25%);
                // padding: 10px 0;
            }

            &--textarea {
                display: inline-block;
                border: 1px solid #999;
                width: 100%;
                height: 140px;
                // margin-top: 30px;
            }
        }

        &__lisence {
            height: 80px;
            padding-right: 20px;
        }

        &__apper {
            height: 170px;
            padding-right: 10px;

        }

    }

    &_confilm {
        display: flex;
        align-items: center;
        justify-content: center;
        // text-align:     center;
        margin: 0 auto;
        width: 365px;
        height: 75px;
        font-size: 30px;
        background-color: #ffcc33;
        margin-bottom: 100px;
    }
}



// footer
.footerline {
    display: flex;
    align-items: center;

    width: 100%;
    background-color: #009da0;
    color: #fff;
    height: 45px;
    margin-bottom: 195px;
}