@charset "utf-8";

/*
------------------------------------------------------- */
/* function
------------------------------------------------------- */
$main-color: #009da0;
$back-color: #e0e0e0;


html {
    font-size: 16px;
}

body {
    color: #666;
    list-style-type: none;
    font-size: 1em;
    font-weight: bold;
    font-family: "游ゴシック", "Yu Gothic";
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

// タイトル横にライン装飾
.title-border {
    width: 50%; //ラインを引く幅を指定
    display: flex;
    align-items: center;
    padding: 50px 0 35px 0;
    margin: 0 auto;
    font-size: 2em;
    //     text-align: center;

    &:before,
    &:after {
        border-top: 1px solid; //ラインの太さ
        content: "";
        flex-grow: 1;
    }

    &:before {
        margin-right: 1rem;
    }

    &:after {
        margin-left: 1rem;
    }
}

section {
    padding-bottom: 50px;
}

/*
------------------------------------------------------- */
/*header
------------------------------------------------------- */
.hero_title {
    position: absolute;
    bottom: 40px;
    z-index: 99;

    &__text1 {
        font-size: 1.5rem;
    }

    &__text2 {
        font-size: 2.3rem;
    }
}

#slide {
    // width:100vw;
    height: 550px;
    margin: auto;
    position: relative;
}

#slide img {
    width: 100vw;
    height: 550px;
}


#top {
    width: 100%;
    height: 85px;
    background-color: rgba(#fff, 0.8);
    z-index: 100;
    border-bottom: 1px solid #999;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
}

.headline {
    width: 100vw;
    background-color: $main-color;
    font-size: 0.6rem;
    color: #fff;
    height: 15px;
}

.nav {

    &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
    }

    &_bar {
        padding: 15px 0;

        &__lists {
            display: flex;
            position: relative;
            list-style-type: none;
        }

        &__list+&__list::before {
            position: absolute;
            display: block;
            content: "";
            top: 50%;
            height: 14px;
            margin-top: -7px;
            border-right: 1px solid #999;
        }

        &__link {
            display: block;
            padding: 0px 20px;

            color: inherit;
            font-size: 1.5rem;
            text-decoration: none;
        }
    }
}


/*
------------------------------------------------------- */
/*Mamasan & Companyの特徴/*
------------------------------------------------------- */
#feature {
    // margin-top: 140px;
}

.tab {
    max-width: 1000px;
    height: auto;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    border: 1px solid #ff9000;

    &_class {
        width: calc(100%/4);
        height: 50px;
        line-height: 50px;
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        display: block;
        float: left;
        order: -1;
        border-bottom: 1px solid #ff9000;
        border-right: 1px solid #ff9000;

        &:last-of-type {
            border-right: 0;
        }
    }

    &_content {
        display: none;
        width: 100%;


        &__list {
            display: inline-flex;
            justify-content: space-between;
            list-style-type: none;
            width: 100%;
            padding: 60px 20px 60px 30px;
        }
    }

    &_col1 {
        background-color: #ffb067;
    }

    &_col2 {
        background-color: #3ebc01;
    }

    &_col3 {
        background-color: #1e1efc;
    }

    &_col4 {
        background-color: #fc1e77;
    }
}

#tab1,
#tab2,
#tab3,
#tab4 {
    display: none;
}

#tab1:checked+.tab_col1 {
    background-color: #fff;
    color: #ffb067;
}

#tab2:checked+.tab_col2 {
    background-color: #fff;
    color: #3ebc01;
}

#tab3:checked+.tab_col3 {
    background-color: #fff;
    color: #1e1efc;
}

#tab4:checked+.tab_col4 {
    background-color: #fff;
    color: #fc1e77;
}

#tab1:checked+.tab_class+.tab_content,
#tab2:checked+.tab_class+.tab_content,
#tab3:checked+.tab_class+.tab_content,
#tab4:checked+.tab_class+.tab_content {
    display: block;
}

/*
------------------------------------------------------- */
/*コンセプト*
------------------------------------------------------- */
#concept {
    background-color: $back-color;
}

.concept_lists {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.concept_list {
    list-style-type: none;
    padding-bottom: 10px;
}

/*
------------------------------------------------------- */
/*パララックス
------------------------------------------------------- */
.parallax-window {
     width: 100%;
     // display: inline-block;
         min-height: 350px;
    height: 100%;
    background: transparent;

}

// .parallax-slider {
//     top: -50px;
//     left: 0;
// }


/*
------------------------------------------------------- */
/*先輩の声
------------------------------------------------------- */

#voice {
    background: #fff;
}

.voice {

    &_content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &_lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
        list-style-type: none;

        &:first-child {
            margin-right: 10px;
        }

        &:last-child {
            padding-top: 50px;
        }

    }

    &_list {
        width: 50%;
        flex: 1 1 2;


        &__img {
            display: inline-block;
            width: 100%;
            padding: 0 10px 15px 0;
        }

        &:last-child {
            width: 100%;
        }

        &__text {
            padding: 15px 20px;
            background-color: #ddecf2;
            border-radius: 10px;
        }
    }
}

/*
------------------------------------------------------- */
/*会社概要/*
------------------------------------------------------- */
#outline {
    background-color: $back-color;
}

.outline {

    &_lists {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    &_list {
        border: none;
        margin-right: 50px;


        &__left {
            width: 100px;
            padding: 25px 0 25px 15px;
            vertical-align: baseline;
            border-right: solid 1px #333;
            border-bottom: solid 1px #333;
        }

        &__right {
            // width: 72%;
            vertical-align: baseline;
            padding: 25px 0 25px 25px;
            border-bottom: solid 1px #333;
        }

        &__top--none {
            padding-top: 15px;
        }

        &__bottom--none {
            padding-bottom: 15px;
            border-bottom: none;
        }
    }
}

/*
------------------------------------------------------- */
/*お問い合わせ/*
------------------------------------------------------- */
.contact {
    margin-bottom: 55px;

    &_lists {
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
        width: 100%;
        height: 100%;
        list-style-type: none;

        &:nth-child(even) {
            background-color: $back-color;
        }
    }

    &_list {
        display: flex;
        align-items: center;
        flex: 1 1 8;
        height: 60px;

        &__lead {
            flex-basis: 20%;
        }

        &__tag {
            flex-basis: 10%;

            &--text {
                display: inline-block;
                font-size: 0.75rem;
                background-color: red;
                color: #fff;
                padding: 5px 10px;
            }
        }

        &__form {
            flex-basis: 72%;
            width: 100%;

            &--text {
                background-color: #fff;
                border: 1px solid #999;
                font-size: 1.4rem;
            }

            &--chkbox {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                flex-wrap: wrap;
            }

            &--textarea {
                display: inline-block;
                border: 1px solid #999;
                width: 100%;
                height: 140px;
            }
        }

        &__lisence {
            height: 80px;
            padding-right: 20px;
        }

        &__apper {
            height: 170px;
            padding-right: 10px;
        }
    }

    &_confilm {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 365px;
        height: 75px;
        font-size: 30px;
        background-color: #ffcc33;
        margin-bottom: 100px;
    }
}

/*
------------------------------------------------------- */
/*footer
------------------------------------------------------- */
.footerline {
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 0.75rem;
    width: 100%;
    background-color: $main-color;
    color: #fff;
    height: 45px;
    margin-bottom: 195px;
}

/*
------------------------------------------------------- */
/*backボタン
------------------------------------------------------- */

#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    background: $main-color;

    & a {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        text-decoration: none;
    }

    & a::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f0d8';
        font-size: 50px;
        color: #fff;
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 10px;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }
}