@charset "utf-8";

/* 基本レイアウト ここから↓ */
/*@import url(reset.css);*/
/*@import url(common.css);*/
html {
    font-size: 16px;
}

body {
    /*background-image: url(../images/bg.jpg);*/
    background-repeat: repeat-x;
    background-position: center top;
    color: #666;
    list-style-type: none;
    font-size: 1em;
    font-family: "游ゴシック", "Yu Gothic";
}

.container {
    width: 1000px;
    margin: 0 auto;
}

// header h1 {
//     margin: 0 0 26px 0;
//     padding-top: 18px;
//     text-align: center;
// }

// タイトル横にライン装飾
.title-border {
    width: 50%; //ラインを引く幅を指定
    display: flex;
    align-items: center;
    padding: 50px 0 35px 0;
    margin: 0 auto;
    font-size: 2em;
    //     text-align: center;

    &:before,
    &:after {
        border-top: 1px solid; //ラインの太さ
        content: "";
        flex-grow: 1;
    }

    &:before {
        margin-right: 1rem;
    }

    &:after {
        margin-left: 1rem;
    }
}

// h2 {
//     margin:  50px 0 35px 0;
//     font-size: 2em;
//     text-align: center;
// }

section {
    padding-bottom: 50px;
}

/*header*/
// #hero {
//     width: 100%;
//     height: 550px;
//     position: relative;
//     background-color: #ffdeab;
// }
.hero_title {
        // width: 1100px;
    // margin: 0 auto;
    position: absolute;
    bottom: 100px;
    z-index: 99;

}

#slide {
width:100%;
height:550px;
margin:0 auto;
position:relative;
}

#slide img {
position:absolute;
left:0;
top:0;
}


#top {
    width: 100%;
    height: 85px;
    background-color: #fff;
    // position: absolute;
    // top: 0;
    // left: 0;
    z-index: 100;
    border-bottom: 1px solid #999;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
}

.headline {
    width: 100%;
    background-color: #009da0;
    font-size: 0.6rem;
    color: #fff;
    height: 15px;
}



.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    padding: 10px 0;
}


.nav_bar {
    &__lists {
        display: flex;
        position: relative;
        // margin: 0;
        // padding: 0;
        list-style-type: none;
    }

    &__list+&__list::before {
        position: absolute;
        display: block;
        content: "";
        top: 50%;
        height: 14px;
        margin-top: -7px;
        border-right: 1px solid #999;
    }

    // &__lists  li +     &__lists  li {
    //     border-left: 0;
    //     border-right: 1px solid #999
    // }

    &__link {
        display: block;
        padding: 0px 20px;
        // width: calc(10%);
        // width: 180px;

        color: inherit;
        font-size: 1.5rem;
        text-decoration: none;
    }

    &__list+&__list {
        // border-left: 0;
        // border-right: 1px solid #999
    }
}



/*Mamasan & Companyの特徴*/

#feature {
    margin-top: 140px;
}

.tab {
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    border: 1px solid #ff9000;



    &_class {
        width: calc(100%/4);
        height: 50px;
        /*background-color: darkgrey;*/
        line-height: 50px;
        font-size: 1.5rem;
        color: #fff;
        font-weight: bold;
        text-align: center;
        display: block;
        float: left;
        order: -1;
        border-bottom: 1px solid #ff9000;
        border-right: 1px solid #ff9000;

        &+&_class {
            border-right: 0;
        }
    }


    &_content {
        display: none;
        width: 100%;
        border: 1px;


        &__list {
            display: inline-flex;
            justify-content: space-between;
            list-style-type: none;
            width: 100%;
            padding: 30px;
        }
    }

    &_col1 {
        background-color: #ffb067;
    }

    &_col2 {
        background-color: #3ebc01;
    }

    &_col3 {
        background-color: #1e1efc;
    }

    &_col4 {
        background-color: #fc1e77;
    }
}

input[name="tab_name"] {
    display: none;
}

input:checked+.tab_col1 {
    background-color: #fff;
    color: #ffb067;
}

input:checked+.tab_col2 {
    background-color: #fff;
    color: #3ebc01;
}

input:checked+.tab_col3 {
    background-color: #fff;
    color: #1e1efc;
}

input:checked+.tab_col4 {
    background-color: #fff;
    color: #fc1e77;
}


input:checked+.tab_class+.tab_content {
    display: block;
}


/*コンセプト*/

#concept {
    background: #e0e0e0;
    z-index: 999;
}

.concept_lists {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.concept_list {
    list-style-type: none;
    padding-bottom: 10px;
}

/*画像セクション*/
#back{
    width: 100%;
    height: 400px;
}


/*先輩の声*/
.voice_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.voice_lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    list-style-type: none;

    &:first-child {
        margin-right: 10px;
    }

    &:last-child {
        padding-top: 50px;
    }

}

.voice_list {
    width: 50%;
    flex: 1 1 2;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex: 1;*/


    &__img {
        display: inline-block;
        width: 100%;
        padding: 0 10px 15px 0;
    }

    &:last-child {
        width: 100%;
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*flex: 1;*/
    }

    &__text {
        padding: 15px 20px;
        background-color: #ddecf2;
        border-radius: 10px;
    }
}


/*会社概要*/

#outline {
    background: #e0e0e0;
}

.outline_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}


table {
    border: none;
    margin-right: 50px;
}

td {
    padding: 10px;
    border-right: solid 1px #333;
    border-bottom: solid 1px #333;
}

td:last-child {
    border-right: none;
}

.none {
    border-bottom: none;
}


/*お問い合わせ*/

.contact {
    // display: flex;
    // justify-content: space-between;
    // width: 100%;
    margin-bottom: 55px;

    &_lists {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        // flex-wrap: wrap;
        padding-left: 60px;
        width: 100%;
        height: 100%;
        list-style-type: none;




        &:nth-child(even) {
            background-color: #eee;
        }
    }

    &_list {
        display: flex;
        align-items: center;
        // padding: 25px 0 20px 30px;
        flex: 1 1 8;
        height: 60px;
        // padding: 10px 0;
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*flex: 1;*/


        &__lead {
            flex-basis: 20%;
            // padding-left: 30px;
            // padding: 25px 0 25px 30px;
        }

        &__tag {
            flex-basis: 10%;

            &--text {
                display: inline-block;
                font-size: 12px;
                background-color: red;
                color: #fff;
                padding: 5px 10px;
            }
        }


        &__form {
            flex-basis: 72%;
            width: 100%;
            // height: 40px;

            &--text {
                background-color: #fff;
                border: 1px solid #999;
                font-size: 1.4rem;
            }

            &--chkbox {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                flex-wrap: wrap;
                // width:calc(25%);
                // padding: 10px 0;
            }

            &--textarea {
                display: inline-block;
                border: 1px solid #999;
                width: 100%;
                height: 140px;
                // margin-top: 30px;
            }
        }

        &__lisence {
            height: 80px;
            padding-right: 20px;
        }

        &__apper {
            height: 170px;
            padding-right: 10px;

        }

    }

    &_confilm {
        display: flex;
        align-items: center;
        justify-content: center;
        // text-align:     center;
        margin: 0 auto;
        width: 365px;
        height: 75px;
        font-size: 30px;
        background-color: #ffcc33;
        margin-bottom: 100px;
    }
}



// footer
.footerline {
    display: flex;
    align-items: center;
    // justify-content: flex-end;
    text-align: right;
    font-size: 0.75rem;
    width: 100%;
    background-color: #009da0;
    color: #fff;
    height: 45px;
    margin-bottom: 195px;
}

//backボタン
#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    background: #009da0;
    // opacity: 0.6;
    // border-radius: 50%;

    & a {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        text-decoration: none;
    }

    & a::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f0d8';
        font-size: 50px;
        color: #fff;
        position: absolute;
        width: 50px;
        height: 50px;
        // top: -5px;
        bottom: 10px;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }
}